bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

.DS_Store
*.user
*.suo
*.pidb
*.cache
*.dll
*.pdb
*.exe
*.obj
*.iobj
*.ipdb
*.iobj
*.ilk
*.tlog
*.ncb
*.vscode
*.vspscc
*.userprefs
*.userprefs.backup
*.unityproj
*.unity
*.sln
*.suo
*.dll
*.pdb
*.mdb
*.exe

/.clawsharp/